DOCWEAVE_DATABASE_URL=postgres://docweave:docweave@localhost:5432/docweave?sslmode=disable
DOCWEAVE_ROLE=all
DOCWEAVE_ADDR=:8080
DOCWEAVE_HTTP_PORT=18080
DOCWEAVE_WORKERS=4
DOCWEAVE_API_KEY=change-me
DOCWEAVE_PUBLIC_DEMO=false
DOCWEAVE_ALLOW_PRIVATE_NETWORKS=false
DOCWEAVE_DEMO_HOSTS=go.dev,pkg.go.dev
DOCWEAVE_USER_AGENT=DocWeave/1.0 (+https://github.com/bananatruck/docweave)
